
<div id="data-viz-title">
  <h1 id="data-viz-title-text">Current Pilot Projects</h1>
</div>

<a class="pilot-links" ui-sref="medellin">
  <div class="pilot-city medellin-bright darken" id="medellin">
    <h1 class="pilot-city-text">Medellin</h1>
  </div>
</a>
<a class="pilot-links" ui-sref="cairo">
  <div class="pilot-city cairo-bright darken" id="cairo">
    <h1 class="pilot-city-text">Cairo</h1>
  </div>
</a>
<a class="pilot-links" ui-sref="casablanca">
  <div class="pilot-city casablanca-bright darken" id="casablanca">
    <h1 class="pilot-city-text">Casablanca</h1>
  </div>
</a>

