body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

/*.container {
  height: 95vh;
  display: flex;
}*/

a {
  text-decoration: none;
}

/* HEADER */
header {
  height: 7vh;
  text-align: justify;
  /*letter-spacing: 1px;*/
  background-color: rgb(248, 248, 248);
  background-color: rgba(248, 248, 248, 1);
  color: #040404;
  display: flex;
  /*position: fixed;*/
}

#header-logo {
  padding-top: .5vh;
  padding-left: 3vh;
  height: 6vh;
  /*flex-shrink: 1;*/
}

#header-nav {
  flex-grow: 2;
  height: 7vh;
  /*padding: 5px;*/
  display: flex;
  justify-content: flex-end;
  align-items: stretch;

}
.header-nav-option {
  margin: .55em;
  color: #333;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 200;
  height: 100%;
}

.header-nav-option:visited {
  color: #333;
}

.header-nav-option:hover {
  color: #eee;
  background-color: #333;
  text-decoration: none;
  font-weight:300;

}

#map {
  position: fixed;
  top: 6vh;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

#mapDashboard {
  height: 50px;
  width: 50px;
  margin-top: 80vh;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  opacity: 0.9;
  z-index: 2;
}
#data-input {
  height: 50px;
  width: 50px;
  margin-top: 80vh;
  background-color: white;
  border-radius: 10px;
  opacity: 0.9;
  z-index: 2;
  position: relative;
  float: right;
  /*position: fixed;*/
}

#data-input-toggle  {
  padding-left: 12.5px;
  padding-top: 10px;
  font-size: 2em;
  display: block;
}

.data-input-opened {
  margin-top: 25vh !important;
  /*min-height: 90vh !important;*/
  width: 50vw !important;
  min-height: 90vh !important;
  overflow: auto;
}

.data-input-opened-glyph {
  float: left;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

#dashboardToggle {
  padding-left: 12.5px;
  padding-top: 10px;
  font-size: 2em;
  display: block;
}

.dashboard-opened {
  margin-top: 25vh !important;
  /*min-height: 90vh !important;*/
  width: 50vw !important;
  min-height: 90vh !important;
  overflow: auto;
}

.dashboard-closed-tabs {
  display: none;
}

.data-input-closed-tabs {
  display: none;
}

.dashboard-opened-glyph {
  float: right;
  margin: 0;
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 5px !important;
  /*font-size: 2em !important;*/
  /*margin: -5px !important;*/
}
.dashboard-pane {
  display: flex;
}
#login-modal-title {
  display: flex;
  justify-content: center;
}

.login-button-helper {
  display:inline-block;
  width:50%;
}

.auth-buttons {
  border-radius: 0 !important;
}

#sample-chart {
  /*order: 1;*/
  width: 50%;
  height: 40vh;
  margin: 0 !important;
}
.resource-chart-container {
  width: 25vw;
}
#kpi-indicators {
  /*order: 2  ;*/
  width: 50%;
  text-align: center;
}

#archetype-text-holder {
  width: 75%;
  margin-left: 2em;
}
#archetype-image-holder {
  width: 25%;
}
#archetype-image {
  width: 100%;
}
#archetype-holder {
  display: flex;
}
#archetype-library {
  min-height: 60vh;
}

.nav-pills {
  /*background-color: rgb(2, 214, 151);*/
  /*size: 1.5em;
  font-weight: bold;*/
}



.nav-tabs > li > a {
  background-color: rgb(113, 196, 237);
  color: #fafafa;
  font-weight: bold;
  font-size: .95em;
  border-radius: 0 !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: rgb(14, 94, 134);
    color: #fafafa;
}

.nav-pills > li > a {
  background-color: rgb(73, 224, 129);
  color: #fafafa;
  font-weight: bold;
  border: none;
  border-radius: 0;
}

/*.nav-pills > li > a:hover {
  background-color: rgb(73, 224, 129);
}*/

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover{
  background-color: rgb(48, 148, 85);
}



#archetype-selection {
  float: right;
  margin-right: 3em;
}

#archetype-action-buttons {
  display: flex;
}

#archetype-action-button {
  height: 4vh;
  background-color: black;
}
/*.dashboard-tabs-resources > li > a {
      color: #fafafa !important;
}*/
/*.nav .nav-tabs {
  display: flex !important;

}

#

.nav .nav-tabs li {
  order: 1 !important;

}*/
