<!-- <html>
	<head>
		<title>urbinsight</title>

		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>

		<link rel="icon" type="image/png" href="../images/map-favi.png">

		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
		<link href="stylesheets/style.css" rel="stylesheet"/>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
		
	</head>

	<body>
	
		<h1>urbinsight</h1>
		<div class="toggle">
			<button id="vancouver_btn" class="btn btn-default">Vancouver</button>
			<button id="dummy_btn" class="btn btn-default">Dummy</button>
		</div>
			<div id='map'></div>


	</body> -->
	

<script>


// $('#vancouver_btn').click(function(){

// 	renderLevel('Source', '#9c89cc');
// 	renderLevel('Upstream', '#7ec9b1');
// 	renderLevel('Parcel', '#3ca0d3');
// 	renderLevel('Downstream', '#fa946e');
// 	renderLevel('Sink', '#f1f075')



	// $.get('/data/infoByLabel?label=Upstream', function (data, status) {
	// 	_.each(data, function(location){
	// 		var lat = parseFloat(location.lat);
	// 		var lng = parseFloat(location.lng);
	// 		L.marker([lat, lng], {
	// 			icon: L.mapbox.marker.icon({
	// 				'marker-size': 'small',
	// 				'marker-color':'#7ec9b1'
	// 			})
	// 		}).addTo(map).on('click', function() {
	// 			renderLine(lat, lng);
				
	// 		});
	// 	});
	// });
});

// function renderLevel(label, color) {
// 		$.get('/data/infoByLabel?label=' + label, function (data, status) {
// 		_.each(data, function(location){
// 			var lat = parseFloat(location.lat);
// 			var lng = parseFloat(location.lng);
// 			L.marker([lat, lng], {
// 				icon: L.mapbox.marker.icon({
// 					'marker-size': 'small',
// 					'marker-color':color
// 				})
// 			}).bindPopup("<p>Label: " + label + "</p><p>Id: " + location.id + "</p>")
// 			  .addTo(map).on('click', function() {
				// renderLine(location, 'all');
				
	// 		});
	// 	});
	// });

}


// $('#dummy_btn').click(function(){
// 	renderLevel('Location', '#67c0b7');



	// $.get('/data/infoByLabel?label=Location', function (data, status) {
	// 	_.each(data, function(location){




	// 		var lat = parseFloat(location.lat);
	// 		var lng = parseFloat(location.lng);
	// 		L.marker([lat, lng], 'red').addTo(map).on('click', function() {
	// 			renderLine(lat, lng, location, 'in');
	// 		});
	// 	});
	// });
});

function renderLine(location, direction){
	var query_string = 'data/relationships?node_index=' + location.id + '&direction=' + direction;
	$.get(query_string, function(rel_data, status) {
		var coords = [[parseFloat(location.lat), parseFloat(location.lng)]];
		_.each (rel_data, function(point) {
			var query_string_2 = 'data/relationships?node_index=' + point.id + '&direction=' + direction;
			$.get(query_string_2, function(rel_data_2, status){
				var coords2 = [[parseFloat(point.lat), parseFloat(point.lng)]];
				_.each (rel_data_2, function(point2){
					var lat_end = parseFloat(point2.lat);
					var lng_end = parseFloat(point2.lng);
					coords2.push([lat_end, lng_end]);
					var polyline = L.polyline(coords, {color: 'teal'}).addTo(map);
				})
			})

			var lat2 = parseFloat(point.lat);
			var lng2 = parseFloat(point.lng);
			coords.push([lat2, lng2]);
			var polyline = L.polyline(coords, {color: 'teal'}).addTo(map);
		});
	});
}

// function renderLine(location, direction) {

// 	var query_string = '/data/relationships?node_index=' + location.id + '&direction=' + direction;
// 	$.get(query_string, function(rel_data, status) {
// 		_.each (rel_data, function(point) {
// 			var coords = [[parseFloat(lat), parseFloat(lng)]];
// 			var query_2 = '/data/infoByNode/?node_index=' + point.end;
// 			$.get(query_2, function(node_data) {
// 				var lat_end = parseFloat(node_data.lat);
// 				var lng_end = parseFloat(node_data.lng);
// 				coords.push([lat_end, lng_end]);

// 				var polyline = L.polyline(coords, {color: 'teal'}).addTo(map);
// 				
// 				renderLine(lat_end, lng_end, point, direction);	
// 			});
// 		});
// 	});
	
// }

</script>


</html>