
// Header
.brand-image{
  margin-top: -15px;}
.navbar{
  margin-bottom: 0px !important;

}

// Map Tile
.pilotProcessTitle-text{
  background-color: rgb(60,60,60);
  text-align: center;
  color: rgb(200,200,200);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2.5em;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

#pilotProcessMap{
  height: 600px;
  min-width: 100vw;
  margin: 0px;
}

#partner-process{
  width: 100%;
  height: 75px;
  background-color: rgb(220,220,220);
  margin: 0; 
}

#partner-process-text{
  margin: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 2.5em;
  padding-top: 20px;
  font-weight: 5px;
}
    
#process-intro{
  background-color: rgba(160,206,226,0.3);
  width: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
}

#process-intro-text{
  background-image: image-url('imbaba-report2.png');
  background-position: center;
  color: #fff;
  margin: 0;
  font-size: 22px;
  padding: 135px 50px 135px 50px;
  text-align: justify;
}

#process-list-title{
  background-color: rgb(30,30,30);
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;

}

#process-list-title-text{
  color: rgb(220,220,220);
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
    #process-list{
      padding-top: 30px;
      padding-bottom: 30px;
      padding-right: 50px;
      padding-left: 50px;
    }
    #process-list-items > li{
      font-family: "Lato", sans-serif;
      padding-bottom: 10px;
      font-size: 18px;
    }
        #data-viz-title{
      width: 100%;
      background-color: rgb(141,189,135);
      margin: 0;
    }
    #data-viz-title-text{
      font-family: "Lato", sans-serif;
      font-size: 2.5em;
      font-weight: 10px;
      text-align: center;
      color: rgb(240,240,240);
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      margin: 0;
    }
    .pilot-city{
      height: 300px;
      width: 100%;
      margin: 0;
      
    }
      
    .pilot-city-text{
      font-family: "Lato", sans-serif;
      font-size: 36pt;
      padding-top: 200px;
      padding-left: 40px;
      margin: 0;
      color: #F8F8F8;
    }
    .pilot-links{

    }
    .medellin-bright{
      background-image: image-url('medellin.png')
    }
    .cairo-bright{
      background-image: image-url('cairo.png')
    }
    .casablanca-bright{
      background-image: image-url('casablanca.png')
    }

    .darken {
      -webkit-filter: saturate(0.02) contrast(0.85) brightness(0.5);
      filter: saturate(0.02) contrast(0.85) brightness(0.5);
    }
    .pilot-links a:link{
      color: #fff;
      text-decoration: none;
    }
    body a:hover{
      text-decoration: none !important;
    }
    .pilot-links a:visited{
      color: #f8f8f8;
    }
    #layer-title{
      margin: 0;
      width: 100%;
      background-color: rgb(255,159,71);
          }
    #layer-title-text{
      font-size: 2.5em;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-weight: 10px;
      margin: 0;
    }
    #layer-intro {
      background-color: rgb(240,240,240);
      width: 100%;
      margin: 0;
     }
     #layer-intro-text{
      font-family: "Lato", sans-serif;
      font-size: 20px;
      padding-top: 30px;
      text-align: justify;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 30px;
     }

     .col-md-6{
      font-family: "Lato" sans-serif
     }  

    .pill-title a{
        color: rgb(70,70,70) !important;
      }
    .pane-row{
      margin-top: 40px;
      margin-bottom: 40px;
    }
 
    .pane-text-box{
      padding-top: -15px;
    }
     .pane-img{
      padding-top: 20px;
      height: 100%;
      width: 100%;
  
     }  
     
     .wrapping{
      background-color: rgba(255,159,71,.3);
     }

     #contact{
      background-color: rgb(144,175,84);
      width: 100%;
      color: white;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 30px;
     }
     #contact p {
      color: white;
     }
     #contact a {
      color: white;
     }

     .pane-row {
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 20px !important;
        padding-right: 20px !important; 
        padding-bottom: 20px !important;
     }
