<form>
  <h3>Estimate Demand</h3>
  <h4>Land Cover Pre Calculation</h4>
  <label>Percentage of parcel with rainwater catchement: <input type="number" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.percentageOfParcelWithRainwaterCatchment"></label>
  <h5>Surface Types</h5>


  <div id="surface-type-selection">
    <label><input type="checkbox" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.turfGreen" ng-true-value={} />
      Turf (Green)
    </label></br>
    <label><input type="checkbox" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.perennialGrassesAndShrubs" ng-true-value={} />
      Perennial Grasses and Shrubs
    </label></br>
    <label><input type="checkbox" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.treeCanopyOverVegetatedGround" ng-true-value={} />
      Tree Canopy Over Vegetated Ground
    </label></br>
    <label><input type="checkbox" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.treeCanopyOverSealedSurfaces" ng-true-value={} />
      Tree Canopy Over Sealed Surfaces
    </label></br>
    <label><input type="checkbox" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.wetOrDryPondsAndInfiltrationTrenches" ng-true-value={} />
      Wet or Dry Ponds and Infiltration Trenches
    </label></br>
    <label><input type="checkbox" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.vegetatedRoof" ng-true-value={} />
      Vegetated Roofs
    </label></br>
    <label><input type="checkbox" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.mainRoof" ng-true-value={} />
      Main Roof
    </label></br>
    <label><input type="checkbox" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.secondaryRoof" ng-true-value={} />
      Secondary Roof
    </label></br>
    <label><input type="checkbox" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.openDecking" ng-true-value={} />
      Open Decking
    </label></br>
    <label><input type="checkbox" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.sealedDecking" ng-true-value={} />
      Sealed Decking
    </label></br>
    <label><input type="checkbox" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.gravel" ng-true-value={} />
      Gravel
    </label></br>
    <label><input type="checkbox" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.bareEarth" ng-true-value={} />
      Bare Earth
    </label></br>
    <label><input type="checkbox" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.sealedPavement" ng-true-value={} />
      Sealed Pavement
    </label></br>
    <label><input type="checkbox" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.paversAndBricks" ng-true-value={} />
      Pavers and Bricks
    </label></br>
    <label><input type="checkbox" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.permeableAsphalt" ng-true-value={} />
      Permeable Asphalt
    </label></br>
  </div>
  <h6>All values are in decimals and less than 1</h6>


  <h6>Portion of Parcel</h6>
  <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.turfGreen.portionOfParcel" />Turf (Green)</label></br>
  <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.perennialsGrassesAndShrubs.portionOfParcel" /></label>Perennial Grasses and Shrubs</br>
  <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.treeCanopyOverVegetagedGround.portionOfParcel" />Tree Canopy Over Vegetated Ground</label></br>
  <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.treeCanopyOverSealedSurfaces.portionOfParcel" />Tree Canopy Over Sealed Surfaces</label></br>
  <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.wetOrDryPondsAndInfiltrationTrenches.portionOfParcel" />Wet or Dry Ponds and Infiltration Trenches</label></br>
  <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.vegetatedRoof.portionOfParcel" />Vegetated Roof</label></br>
  <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.mainRoof.portionOfParcel" />Main Roof</label></br>
  <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.secondaryRoof.portionOfParcel" />Secondary Roof</label></br>
  <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.openDecking.portionOfParcel" />Open Decking</label></br>
  <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.sealedDecking.portionOfParcel" />Sealed Decking</label></br>
  <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.gravel.portionOfParcel" />Gravel</label></br>
  <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.bareEarth.portionOfParcel" />Bare Earth</label></br>
  <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.sealedPavement.portionOfParcel" />Sealed Pavement</label></br>
  <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.paversAndBricks.portionOfParcel" />Pavers and Bricks</label></br>
  <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.landCoverPreCalculation.surfaceTypes.permeableAsphalt.portionOfParcel" />Permeable Asphalt</label></br>


  <h3>Demand Junctions</h3>
  <!--Add functionaility to add a toilet -->
  <h4>Toilets - Flush Volume</h4>
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.toilets.activeToilets.regUsedToiletA.flushVolume"/>Flush Volume - Regularly Used Toilet A</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.toilets.activeToilets.regUsedToiletB.flushVolume"/>Flush Volume - Regularly Used Toilet B</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.toilets.numPersonsUsingToilets"/>Number of People Using Toilets</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.toilets.dailyPerPersonUsage"/>Daily Usage (per/Person)</label><br />
  <!-- Add functionality to add a shower -->
  <h4>Hygiene</h4>
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.hygiene.activeShowers.showerA" />Shower Flow (L/min)</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.hygiene.typicalShowerDuration" />Typical Shower Duraction</label><br />

    <!-- add funtionality to add a batch -->
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.hygiene.weeklyShowersPerPerson" />Weekly Showers Per Person</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.hygiene.bathVolume" />Bath Volume</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.hygiene.bathsPerWeek" />Baths per Week</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.hygiene.minutesOfTapFlowPerVisit" />Minutes of Tap Flow per Visit</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.hygiene.ablutionDuration" />Ablution Duration</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.hygiene.numOccupantsUsingWashrooms" />Number of Occupant Using Washroom</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.hygiene.numVisitsToWashroomPerOccupant" />Number of Visits to Washroom Per Occupant</label><br />

  <h4>Kitchen</h4>
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.kitchen.quantityOfMealsPerDay" />Quantity of Meals Prepared (daily)</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.kitchen.waterPerMeal" />Water Used per Meal</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.kitchen.dishwashingWaterPerLoad" />Dishwashing water used per load</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.kitchen.loadsOfDishesPerDay" />Loads of dishes per day</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.kitchen.waterConsumptionPerMeal" />Water consumed per meal</label><br />

  <h5>Laundry</h5>
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.laundry.personsUsingLaundry" />Persons using laundry</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.laundry.loadsPerWeekPerPerson" />Loads per week per person</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.laundry.waterConsumptionPerLoad" />Water consumed per load</label><br />

  <h5>Drinking</h5>
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.drinking.personsDrinkingWaterOnSite" />Persons drinking water on site</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.drinking.avgQuantityOfDrink" />Average quantity of water on map</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.drinking.avgDrinksPerDayPerPerson" />Average drinks per day (per person)</label><br />

  <h5>Landscape</h5>
    <h6>Irrigation</h6>
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.landscape.irrigation.hoursPerWeek" />Hours Per Week</label><br />
    <h6>Pots & Pools</h6>
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.landscape.potsPools.litersPerLocation" />Litres used per location</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.landscape.potsPools.numPlantsPools" />Number of plants or pools</label><br />

  <h5>Surface Cleaning</h5>
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.surfaceCleaning.freqOfInteriorSurfaceCleaning" />Frequency of interior surface cleaning</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.surfaceCleaning.quantityOfWaterUsedForSC" />Quantity of water used for surface cleaning"</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.surfaceCleaning.numTimesVehicleCleaned" />Number of times vehicle washed per Week"</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.surfaceCleaning.quantityOfWaterUsedForVC" />Quanitty of water used for vehicle cleaning"</label><br />

  <h5>Evaporative Cooling</h5>
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.evaporativeCooling.hoursPerDayDuringHotSeason" />Usage per day during hot season</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.evaporativeCooling.litersConsumedPerHour" />Litres consumed per hour</label><br />

  <h5>Water Customers</h5>
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.waterCustomers.excessCapacityPerDay" />Excess Capacity Per Day</label><br />
    <label><input type="number" ng-model="parcel.workbooks.water.estimateDemand.demandJunctions.waterCustomers.percentageOfExcessDistributed" />% of excess distributed</label><br />
</form>
