// $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "variables";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "partials/signup";
@import "partials/homepage";
@import "partials/homepage/landing";
@import "partials/dashboard";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#cityMap {

  min-height: 90vh;
  min-width: 100vw;
}
#citiesNav a{
  color: #000;
}

#compass-title{
  padding-top: 50px;
}
body {
  padding: 0;
}

body > .container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Custom page footer */
.footer {

  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
 
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

}
