
@import "variables";
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";


// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "partials/signup";
@import "partials/homepage";
@import "partials/homepage/landing";
@import "partials/dashboard";
@import "partials/compass";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.shown {
  display: none;
}

#viz{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  width: 200px;
  float: right;
  margin-right: 100px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.axis text {
  margin: 0px 10px 0px 10px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#line {
  font: 10px sans-serif;
  width: 430px;
  float: left;
  margin: 0 0 0 50px;
}

.opened {
  float: right;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-size: 2em !important;
  margin: -5px !important;
}

 #modalbar > ul > li {
  font-size: 1em !important;
 }

#mapModal {
  height: 50px;
  width: 50px;
  margin-top: 70vh;
  position: absolute;
  background-color: white;

  border-radius: 10px;
  opacity: 0.9;
}

.hoveredon {
  margin-top: 30vh !important;
  height: 50vh !important;
  width: 80vw !important;
}

#plusclick {
  padding-left: 12.5px;
  padding-top: 10px;
  font-size: 2em;
  display: block;
}


#cityMap {
  min-height: 92vh;
  min-width: 100vw;
}
#citiesNav a{
  color: #000;
}

#compass-title{
  padding-top: 50px;
}
body {
  padding: 0;
}

body > .container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Custom page footer */
.footer {

  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
 
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

}
