<h2 ng-show="showNoDataMessage" style="text-align: center; margin-top: 150px; color:#D0D0D0">No Data to Display</h2>
<div style="min-height: 60px;" ng-hide="showNoDataMessage">
	<div style="float: left;">
		<h3 style="margin-top: 5px; margin-left: 10px;">
			Average Response - Quality of Life
		</h3>
	</div>
	<div style="margin-top: 5px; margin-right: 20px; float: right;">
		<h5 style="margin-top: 0px;">Change Chart Type:</h5>
		<div id="pie-button"style="width: 40px;  height: 20px; margin-left: 25px; float: left; background-color: #4682B4; color: #FFF; text-align: center;" ng-click='chartTransform("bar")'>Bar</div>
		<div id="bar-button" style="width: 40px;  height: 20px; margin-left: 5px; float: left; background-color: #4682B4; color: #FFF; text-align: center;" ng-click='chartTransform("line")'>Line</div>
	</div>
</div>
<div id='survey' style="min-width: 400px; max-width: 95%; height: 275px; margin: 20px 25px 25px 10px;" ng-hide="showNoDataMessage"></div>
