<ul class="nav nav-justified" id="cities-nav">
  <li class="btn btn-default" ><a ui-sref="vancouver" style="color: black;">Vancouver</a></li>
  <li class="btn btn-default" ><a ui-sref="medellin" style="color: black;">Medellin</a></li>
  <li class="btn btn-default" ><a ui-sref="casablanca" style="color: black;">Casablanca</a></li>
  <li class="btn btn-default" ><a ui-sref="cairo" style="color: black;">Cairo</a></li>
  <li class="btn btn-default" ><a ui-sref="lima" style="color: black;">Lima</a></li>
</ul>
  <div id="dashboardMap"></div>

