<!-- cities have parcels -->
<form novalidate class="parcel-form" id="parcelForm">
  <!-- Add form authencity token -->
  <h3>Source Information</h3>
  Author: <input type="text" ng-model="parcel.author" /><br />
  Date:   <input type="date" ng-model="parcel.date" /><br />
  <!-- These would be populated for valid values -->
  Neighborhood ID: <input type="number" min='1' max='100' ng-model="parcel.neighborhoodID" /><br />

  Time Horizon: <select ng-model="parcel.timeHorizon">
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                </select>
  <br />
  <h3>Describe Parcel</h3>
  Parcel Type: <select ng-model="parcel.describeParcel.parcelIndetification.parcelType">
                  <option value="Generic Parcel">Generic Parcel</option>
               </select><br />
  Designated Land Use: <select ng-model="parcel.describeParcel.parcelIndentification.designatedLandUse">
                    <option selected="selected" value=""></option>
                    <option value="Open Space">Open Space</option>
                    <option value="Residential">Residential</option>
                    <option value="Informal">Informal</option>
                    <option value="Commercial">Commercial</option>
                    <option value="Institutional">Institutional</option>
                    <option value="Industrial">Industrial</option>
                    <option value="Municipal">Municipal</option>           
                  </select><br />           
  Acutal Land Use: <select ng-model="parcel.describeParcel.parcelIndentification.actualLandUse">
                    <option selected="selected" value=""></option>
                    <option value="Open Space">Open Space</option>
                    <option value="Residential">Residential</option>
                    <option value="Informal">Informal</option>
                    <option value="Commercial">Commercial</option>
                    <option value="Institutional">Institutional</option>
                    <option value="Industrial">Industrial</option>
                    <option value="Municipal">Municipal</option>           
                  </select><br />
  <h4>GeoCoordinates:</h4>
    Latitude: <input type="text" ng-model="parcel.describeParcel.parcelIndentification.geoCoordinates[0]" /><br />
    Longitude: <input type="text" ng-model="parcel.describeParcel.parcelIndentification.geoCoordinates[1]" /><br />

  Parcel Area (m<sup>2</sup>): <input type="number" ng-model="parcel.describeParcel.parcelIndentification.landArea" /><br />
  Building Footprint (m<sup>2</sup>): <input type="number" ng-model="parcel.describeParcel.parcelIndentification.buildingFootprint" /><br />

  <h3>Building Data</h3>
  Building Attachment Type: <select ng-model="parcel.describeParcel.buildingData.buildingAttachmentType">
                              <option selected="selected" value=""></option>
                              <option value="No Building">No Building</option>
                              <option value="Single Family">Single Family</option>
                              <option value="Multi Family (Low Rise)">Multi Family (4 stories and under)</option>
                              <option value="Multi Family (High Rise)">Multi Family (5 stories and over)</option>
                              <option value="Row House">Row House</option>
                              <option value="Mobile">Mobile</option>
                            </select><br />

  Number of Occupied Dwelling Units: <select ng-model="parcel.describeParcel.buildingData.numberOccupiedDwellingUnits">
                                      <option selected="selected" value=""></option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      <option value="6">6</option>
                                      <option value="7">7</option>
                                      <option value="8">8</option>
                                      <option value="9">9</option>
                                      <option value="10">10</option>
                                    </select><br />
  Building Age: <input  type="number" ng-model="parcel.describeParcel.buildingData.buildingAge" /><br />
  Above Ground Stories: <input type="number" ng-model="parcel.describeParcel.buildingData.aboveGroundStories" /><br />
  Below Ground Stories: <input type="number" ng-model="parcel.describeParcel.buildingData.belowGroundStories" /><br />
  
  <!--   Subsystem: <select ng-model="parcel.subsystem"> 
                <option value='' selected="selected"></option>
                <option value="water">Water</option>
                <option value="energy">Energy</option>
                <option value="materials">Materials</option>
                <option value="food">Food</option>
                <option value="mobility">Mobility</option>

               </select> -->
</form>