<!-- cities have parcels -->
<div class="row" style="margin-left: 30px; margin-right: 30px;">  
  <div ui-view="describeparcel" ></div>
  <button ng-click="submit()" class="btn btn-success btn-block">Add Parcel</button>
  <tabset justified="true" id="workbooks" >
    <tab heading="Water" ui-sref-active="active">
      <div ui-view="workbookwater" style="background-color: #F8F8F8;"></div>
    </tab>
    <tab heading="Energy" disable="true">
      hello
      <div ui-view="workbookWater"></div>
    </tab>
    <tab heading="Materials" disable="true">
      <div ui-view="workbookWater"></div>
    </tab>
    <tab heading="Food" disable="true">
      <div ui-view="workbookWater"></div>
    </tab>
    <tab heading="Mobility" disable="true">
      <div ui-view="workbookWater"></div>
    </tab>
  </tabset>
</div>
