<span id='plusclick' class='glyphicon glyphicon-plus' ui-sref=".umis.energy"></span>
<tabset justified="true" id='modalbar' class='shown'>
  <tab ui-sref=".umis.energy" ui-sref-active="active" heading="UMIS">
    <div ui-view="umisTabs"></div>
  </tab>
  <tab ui-sref=".survey" ui-sref-active="active" heading="Surveys">
    <div ui-view="survey"></div>
  </tab>
  <tab ui-sref=".assessments.air" ui-sref-active="active" heading="Assesments">
    <div ui-view="assessments"></div>
  </tab>
  <tab ui-sref=".basedata" ui-sref-active="active" heading="Base Data">
    <div ui-view="basedata"></div>
  </tab>
</tabset>
<!--     <tab heading="Layer Info" active='true'>
        <ul style="overflow-y: scroll; max-height: 250px !important;">
        <li ng-repeat="layer in layerDefs" style="padding-left: 20px; padding-right: 20px; margin-top: 15px padding-bottom: 15px;">
          <strong>{{layer.name}}</strong> {{layer.description}}
        </li>
        </ul>
    </tab> -->
    <!-- <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
      {{tab.content}}
    </tab> -->
 
  