<span id='plusclick' class='glyphicon glyphicon-plus'></span>

  <tabset justified="true" id='modalbar' class='shown'>
    <tab heading="Layer Info" active='true'>
        <ul style="overflow-y: scroll; max-height: 250px !important;">
        <li ng-repeat="layer in layerDefs" style="padding-left: 20px; padding-right: 20px; margin-top: 15px padding-bottom: 15px;">
          <strong>{{layer.name}}</strong> {{layer.description}}
        </li>
        </ul>
    </tab>
    <tab heading="Data">I'm the Data</tab>
    <tab heading="Add Data">I can add data.</tab>
    <!-- <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
      {{tab.content}}
    </tab> -->
 
  </tabset>

 