<tabset justified="true" id='resourceType' type='pills'>
  <tab active="tab.active" heading="Energy">
    <umis-visualization resourceData="resources.energy"
  </tab>
  <tab active="tab.active" heading="Water">
    <umis-visualization resourceData="resources.water">
  </tab>
  <tab active="tab.active" heading="Materials">
    <umis-visualization resourceData="resources.materials">
  </tab>
  <tab active="tab.active" heading="Mobility">
    <umis-visualization resourceData="resources.mobility"> 
  </tab>
</tabset>

<!-- .resource({type: 'energy'}) -->
