<tabset justified="true" id='resourceType' type='pills'>
  <tab  heading="Water">
    <umis-resource info="resources" resource="'water'" parcels="parcels"></umis-resource>
  </tab>
  <tab  heading="Energy" disable="true">
<!--     <umis-resource info="resources" resource="'energy'" parcels="parcels"></umis-resource> -->
  </tab>
  <tab  heading="Materials" disable="true">
<!--     <umis-resource info="resources" resource="'materials'" parcels="parcels"></umis-resource> -->
  </tab>
  <tab  heading="Mobility" disable="true">
<!--     <umis-resource info="resources" resource="'mobility'" parcels="parcels"></umis-resource>
  </tab> -->
  <tab ui-sref=".dataEntry.addParcel" ui-sref-active="active" heading="Add Parcel">
    <div ui-view='umisForm'></div>
  </tab>
</tabset>


<!-- .resource({type: 'energy'}) -->
