<tabset justified="true" id='resourceType' type='pills'>
  <tab  heading="Energy">
    <umis-resource info="resources" resource="'energy'" parcels="parcels"></umis-resource>
  </tab>
  <tab  heading="Water">
    <umis-resource info="resources" resource="'water'" parcels="parcels"></umis-resource>
  </tab>
  <tab  heading="Materials">
    <umis-resource info="resources" resource="'materials'" parcels="parcels"></umis-resource>
  </tab>
  <tab  heading="Mobility">
    <umis-resource info="resources" resource="'mobility'" parcels="parcels"></umis-resource>
  </tab>
</tabset>

<!-- .resource({type: 'energy'}) -->
