<h3>Select which workbooks you would like to complete</h3>
<div>
  <label>
    <input type="checkbox" ng-model="workbookSelection.selectedWorkbooks.water" ng-change="workbookSelection.workbookGenerator()"> Water
  </label>
</div>
<div>
  <label>
    <input type="checkbox" ng-model="workbookSelection.selectedWorkbooks.materials" ng-change="workbookSelection.workbookGenerator()"> Materials
  </label>
</div>
<div>
  <label>
    <input type="checkbox" ng-model="workbookSelection.selectedWorkbooks.energy" ng-change="workbookSelection.workbookGenerator()" disabled> Energy
  </label>
</div>
<div>
  <label>
    <input type="checkbox" ng-model="workbookSelection.selectedWorkbooks.mobility" ng-change="workbookSelection.workbookGenerator()" disabled> Mobility
  </label>
</div>
<br />
<div class="col-sm-6">
  <a ui-sref="app.city.pilot.umis.form.demographics" class="btn btn-block btn-info">
    <span class="glyphicon glyphicon-circle-arrow-left"></span> Previous Section
  </a>
</div>
<div class="col-sm-6">
  <a class="btn btn-block btn-success" ng-click="workbookSelection.workbookIterator()">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
  </a>
</div>
